/*
FILTER COMPONENT
*/

.cksButton {
  background-color:#edc47e;
  border: 1px solid rgb(52, 49, 49);
  border-radius: 4px;
  height: auto;
  float: left;
  text-align: center;
  font-family:'Roboto',sans-serif;
  font-size: 12px;
  width: 4.0em;
}

.cksButton label {
  float: left;
  width: 4.0em;
}

.cksButton label span {
  text-align: center;
  padding: 3px 0px;
  display: block;
}
.cksButton label input {
  position: absolute;
  top: -20px;
}

.cksButton input:hover + span {
  background-color: rgb(243, 226, 183);
}

.cksButton input:checked + span {
  background-color: #cd6501;
  color: black;
}

.cksButton input:checked:hover + span {
  background-color: rgb(205, 138, 5);
  color: black;
}


.chButton {
  //display:inline-block;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#edc47e;
  text-align:center;
  height: auto;
  float: left;
  text-align: center;
  width: 8.0em;
  height: 2em;
  font-size: 12px;
}

.chButton label {
  float: left;
  border-radius: 2em;
  width: 8.0em;
  height: 2em;
}

.chButton label span {
  border-radius: 2em;
  text-align: center;
  padding: 3px 0px;
  display: block;
}
.chButton label input {
  position: absolute;
  top: -20px;
}

.chButton input:hover + span {
  background-color: rgb(243, 226, 183);
}

.chButton input:checked + span {
  background-color: #da8107;
  color: black;
}

.chButton input:checked:hover + span {
  background-color: rgb(230, 230, 230);
  color: black;
}

.smallFilter {
  font-size: 30px;
  //flex-direction: row;
  //justify-content: space-around;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  //flex-wrap: wrap;
  width: 100%;
  height: auto;
  //margin: 10px;
  //-webkit-overflow-scrolling: touch;

  justify-content: space-evenly;
  //white-space: nowrap;

  .sort {
    font-size: 10px;
  }

  // .clickableElement {
  //   display: inline-block;
  //   //height: 75%;
  //   //width: 30%;
  //  // text-align: center;
  //  // padding: 10px;
  // }

  .sfButton {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border: none;
    border-radius:2em;
    //box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#edc47e;
    text-align:center;
    transition: all 0.2s;
  }
  .sfButton :hover {
    background-color:#11730a;
  }


  .sfChild {
    color: black;
    background-color: #f1d866;
    border-radius: 4px;
  }

  .item1 {
    order: 1;
  }
  .item2 {
    order: 2;
  }
  .item3 {
    order: 3;
  }
  .item4 {
    order: 4;
  }

}

.bigFilter {
  display: flex;
  flex-direction: column;

  .categories {
    font-size: 1rem;
  }
}


.priceFilterModal {
  background: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  box-shadow: 0 5px 10px 2px rgba(195, 192, 192, .5);
  border-radius: 10px;
  width: 50px;
  height: 100px;
  left: calc(100% - 50px);
}

.bigModal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(100% - 40px);
  height: calc(100% - 20px);
  top: 0%;
  left: 0%;
  bottom: 0%;
  z-index: 1000;
  background: rgb(237, 234, 234);
  color: rgb(51, 49, 49);
  border-radius: 10px;
  position: absolute;
  box-shadow: 0 5px 10px 2px rgba(195, 192, 192, .5);
  text-align: center;
  font-size: 16px;
  font-family: Verdana, sans-serif;

  .bigFilterSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(223, 220, 220, 0.3);
  }


}

/*
MAP COMPONENT
*/
#map {
  height: 50vw;
  width: 75vw;
}

.text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.leaflet-routing-container{
  display: none;
}

/*
FIND CHARGING STATIONS COMPONENT
*/

.stationTableRow:hover {
  background-color: lightpink;
}

.toSeePOILink {
  display: table-cell;
  color: #000;
  text-decoration: none;
}

#stationsDistanceInput {
  margin-left: 20px;
}

/*
Add POI Component
*/

.add-poi-form-container {
  display: flex;
  justify-content: center;
}

.add-poi-form-wrapper {
  text-align: center;
}

.centered-button {
  display: flex;
  align-items: center;
  justify-content: center;
}


.price-and-tooltip {
  display: flex;
  align-items: center;
}

.success {
  color: green
}

.left {
  text-align: left
}

.center {
  text-align: center
}
/* seePOI component */


.seePOI {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  color: #da8107;

  #map {
    width:90vw;
    border-style: inset;
    border-width: medium;
    border-color:#11730a;
  }
}

  .map{
    float: left;
    justify-content: center;
    width: 95%;
    height: 100%;

  }

  .returnCharger{
    float: left;
    height: 100%;
    margin: 1rem;
  }


  // .login{

  //   float: right;
  //   height: auto;
  //   margin-right: 10%;
  // }


  // .signup{

  //   float: right;
  //   height: 100%;
  //   margin-right: 5%;
  // }

  .seePOIListHeader{

    float:left;
    width: 95%;
    height: 100%;
    text-align: center;
    // text-decoration-line: underline;
    margin-bottom: 1rem;
  }

  .poiItems:hover{
    background-color: lightpink;
  }

  .toMoreDetails{
    display: table-cell;
    color: #000;
    text-decoration: none;
  }


  // .poiFullList{
  //   width: 100%;
  //   border-style: inset;
  //   border-width: medium;
  //   border-color:#11730a;
  // }

  // .poiList{
  //   width:100%;
  //   float:left;
  //   text-align: center;
  //   grid-template-columns: auto, auto, auto;

  //   .distance{
  //     margin-right: 3%;
  //     text-align: right;
  //     float:right;
  //   }

  //   .listNumber{
  //     text-align: left;
  //     float:left;
  //   }
  //   .POIName{
  //     text-align: left;
  //     float:left;
  //   }
  //   .likes{

  //     text-align: center;
  //   }
  // }

  .filters{
    float: left;
    width: 95%;
  }

  .addPOI{
    text-align: center;
    float: left;
    width: 95%;
    margin: 1rem
  }

  .moreDetails{
    text-align: center;
    width: 100%;
    border-style: inset;
    border-width: medium;
    border-color:#11730a;
  }






