/*
FILTER COMPONENT
*/

.smallFilter {
  font-size: 30px;
  //display: flex;
  //flex-direction: row;
  //justify-content: space-around;
  width: calc(100% - 40px);
  height: 20px;
  margin: 10px;
  overflow-x: scroll;
  //overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  border: 1px solid grey;
  white-space: nowrap;

  .clickableElement {
    display: inline-block;
    height: 100%;
    width: 35%;
  }

  .sfChild {
    color: black;
    background-color: #f1d866;
    border-radius: 4px;
  }

  .priceFilterModal {

    background: white;
    display: flex;
    flex-direction: column;


    .ckButton {
      background-color: rgb(182, 181, 181);
      border: 1px solid rgb(52, 49, 49);
      height: auto;
      float: left;
      text-align: center;
      font-size: 1rem;
    }

    .ckButton label {
      float: left;
      width: 4.0em;
    }

    .ckButton label span {
      text-align: center;
      padding: 3px 0px;
      display: block;
    }
    .ckButton label input {
      position: absolute;
      top: -20px;
    }

    .ckButton input:hover + span {
      background-color: rgb(243, 226, 183);
    }

    .ckButton input:checked + span {
      background-color: orange;
      color: black;
    }

    .ckButton input:checked:hover + span {
      background-color: rgb(205, 138, 5);
      color: black;
    }
  }

  .cksButton {
    background-color: rgb(182, 181, 181);
    border: 1px solid rgb(52, 49, 49);
    border-radius: 4px;
    height: auto;
    float: left;
    text-align: center;
    font-size: 1rem;
  }

  .cksButton label {
    float: left;
    width: 4.0em;
  }

  .cksButton label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
  }
  .cksButton label input {
    position: absolute;
    top: -20px;
  }

  .cksButton input:hover + span {
    background-color: rgb(243, 226, 183);
  }

  .cksButton input:checked + span {
    background-color: orange;
    color: black;
  }

  .cksButton input:checked:hover + span {
    background-color: rgb(205, 138, 5);
    color: black;
  }

  .dropdown-container {
    position: relative;
    width: 200px;
  }
  .dropdown-trigger {
    padding: 10px 0px;
  }
  .dropdown-body {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 10px;
    z-index: 2;
  }

}

.bigFilter {
  display: flex;
  flex-direction: column;

  .categoryHeader {
    font-size: 1.5rem;
  }
  .categories {
    font-size: 1rem;
  }
}



.bigModal {
  width: 300px;
  height: 500px;
  background: rgb(255, 255, 255);
  color: #000;
  display: grid;
  border-radius: 10px;
  border-color: black;
  border-width: medium;
  position: absolute;
}

/*
MAP COMPONENT
*/
#map {
  height: 50vw;
}

.leaflet-routing-container{
  display: none;
}

/*
FINDCHARGINGSTATIONS COMPONENT
*/

.stationTableRow:hover {
  background-color: lightpink;
}

/*
Add POI Component
*/
