/*
FILTER COMPONENT
*/

.smallFilter {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50rem;


  .sfChild {
    color: black;
    background-color: #f1d866;
    border-radius: 4px;
  }

  .priceFilterModal {

    background: white;
    display: flex;
    flex-direction: column;

    .ckButton {
      background-color: rgb(182, 181, 181);
      border: 1px solid rgb(52, 49, 49);
      height: auto;
      float: left;
      text-align: center;
      font-size: 1rem;
    }

    .ckButton label {
      float: left;
      width: 4.0em;
    }

    .ckButton label span {
      text-align: center;
      padding: 3px 0px;
      display: block;
    }
    .ckButton label input {
      position: absolute;
      top: -20px;
    }

    .ckButton input:hover + span {
      background-color: rgb(243, 226, 183);
    }

    .ckButton input:checked + span {
      background-color: orange;
      color: black;
    }

    .ckButton input:checked:hover + span {
      background-color: rgb(205, 138, 5);
      color: black;
    }
  }
}

.bigFilter {
  display: flex;
  flex-direction: column;

  .categoryHeader {
    font-size: 1.5rem;
  }
  .categories {
    font-size: 1rem;
  }
}



.bigModal {
  width: 300px;
  height: 500px;
  background: rgb(255, 255, 255);
  color: #000;
  display: grid;
  border-radius: 10px;
  border-color: black;
  border-width: medium;
  position: absolute;
}

/*
MAP COMPONENT
*/
#map {
  height: 50vw;
  width: 75vw;
}

.text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.leaflet-routing-container{
  display: none;
}

/*
FINDCHARGINGSTATIONS COMPONENT
*/

.stationTableRow:hover {
  background-color: lightpink;
}

.toSeePOILink {
  display: table-cell;
  color: #000;
  text-decoration: none;
}

/*
Add POI Component
*/

.add-poi-form-container {
  display: flex;
  justify-content: center;
}

.add-poi-form-wrapper {
  text-align: center;
}

.centered-button {
  display: flex;
  align-items: center;
  justify-content: center;
}


.price-and-tooltip {
  display: flex;
  align-items: center;
}

.success {
  color: green
}

.left {
  text-align: left
}

.center {
  text-align: center
}
/* seePOI component */

.seePOI {
  background-color: #ff9800;
  height: 100%;
  width: 100%;

  #map {
    width:100vw;
    margin-right: auto;
  }
}

  .map{
    background-color: #ff9800;
    float: left;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .returnCharger{
    background-color: #ff9800;
    float: left;
    height: 100%;
  }

  .login{
    background-color: #ff9800;
    float: right;
    height: auto;
    margin-right: 10%;
  }

  .signup{
    background-color: #ff9800;
    float: right;
    height: 100%;
    margin-right: 5%;
  }

  .seePOIListHeader{
    background-color: #ff9800;
    float:left;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration-line: underline;

  }

  .poiList{
    background-color: #ff9800;
    float: left;
    width: 100%;

  }

  .filters{
    background-color: #ff9800;
    float: left;
    width: 100%;
  }

  .addPOI{
    background-color: #ff9800;
    float: left;
    width: 100%;
  }





